.cn-area {
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-left: 2px solid #2e2e2e;
}

.cn-area .box-area {
    margin-top: 50px;
}

.cn-area .box-area:first-child {
    margin-top: 0px;
}